*{
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    height: 50px;
    margin-bottom: 50px;
}

header img{
    padding-left: 2%;
}

h1{
    display: inline-block;
    font-weight: bolder;
}

nav, main{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

nav{
    border-bottom: 1px solid grey;
    margin-bottom: 0;
}

.checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
}

.cross{
    width: 15px;
    height: 15px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
}

.tagblue{
    background-color: #4ea9e5;
    color: white;
    border-radius: 10%;

}