*{
    box-sizing: border-box;
}

body{
    background-color: #f4f6f7;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

header img{
    padding-left: 2%;
}

h1{
    display: inline-block;
    font-weight: 800;
}

nav, main{
    background-color: white;
    margin-left: 10%;
    padding-left: 40px;
    margin-right: 10%;
    border-radius: 10px;
}

nav{
    border-bottom: 3px solid #f4f6f7;
    margin-bottom: 0;
    height: 60px;
    padding-top: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.button{
    height: 30px;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    padding: 1px 10px;
}

#taskbutton{
    background-color: #4ea9e5;
    color: white;
    border: 2px solid #4ea9e5;
}

#sectionbutton{
    background-color: white;
    color: lightgrey;
    border: 2px solid lightgrey;
}

main{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #454850;
    font-weight: 600;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

section p{
    padding-left: 5px;
}

h2{
    margin-bottom: 0;
    margin-top: 40px;
}

#tasktitle{
    margin-top: 0;
}

.checkmark , .cross{
    display: inline-block;
    width: 22px;
    height: 22px;
    padding-left: 5px;
}

.checkmark{
    border: 1px solid #67bda8;
    border-radius: 50%;
    color: #67bda8;
}

.cross{
    border: 1px solid red;
    border-radius: 50%;
    color: red;
}

.tag{
    color: white;
    border-radius: 12px;
    height: 30px;
    display: inline-block;
    padding: 10px;
    font-size: 11px;
    font-weight: 500;
}

.blue{
    background-color: #4ea9e5;
}

.violet{
    background-color: #9974de;
}

.darkgreen{
    background-color: #68bda8;
}

.orange{
    background-color: #ee9c41;
}

.rose{
    background-color: #d3649d;
}

.lightgreen{
    background-color: #aec53f;
}